@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url(../imagenes/maderanegra.jpg);
    background-size: 2500px 4000px;
    background-repeat: no-repeat;
    text-align: justify;
}


/*  ***HEADER***  */


header{
    color: #fff;
}

nav{
    font-family: 'Poppins', sans-serif;
    text-align: right;
    font-size: large;
    cursor: pointer;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}


/*  ***MAIN***  */


main p, h3, li{
    font-family: 'Poppins', sans-serif;
}

section{
    background: hsla(0, 0%, 45%, 0.723);
    border: solid #fff;
    border-radius: 10px;
    margin-top: 4rem;
    margin-left: 5rem;
    width: 600px;
}   

h3{
    color: #fff;
    margin-left: 1rem;
}

a{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.a-hov:hover, .a-hov:focus {
    background-size: 100% 2px;
}

ul{
    color: #fff;
}

.icono-wsp{
    position: fixed;
    top: 80%;
    right: 2%;
    width: 70px;
    height: 70px;
}


/*  ***FOOTER***  */


footer{
    font-family: 'Poppins', sans-serif;
    background: hsla(0, 0%, 45%, 0.326);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    margin-top: 37.8rem;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ff0000;
}

.contenido-footer{
    text-align: center;
}

.contenido-footer h4{
    color: #fff;
    border-bottom: 3px solid #ff0000;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contenido-footer p{
    color: #fff;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fff;
}

.icono-ig{
    width: 70px;
    height: 70px;
    margin-top: 50px;
}

.p-footer{
    margin-top: 65px;
}