@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #e7bfbf;
}


/*  ***MAIN***  */


main{
    display: flex;
    flex-wrap: wrap;
}

.h2-rec{
    text-decoration: underline;
}

section{
    width: 45%;
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 3%;
}

aside{
    width: 45%;
    margin-top: 60px;
    margin-right: 2%;
    margin-left: 3%;
}

.tarjetas{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 20vw;
    height: 43vh;
}

.receta4{
    width: 100%;
    height: 100%;
    /* width: 19.9vw;
    height: 20vh; */
}

#img-hov{
    width: 21.7vw;
    height: 31vh;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
}

#img-hov img{
    width: 31vw;
    height: 32vh;
    transition: 2s;
    filter: brightness(80%);
}

#img-hov img:hover{
    transform: translateX(-30%);
    filter: brightness(100%);
}

.icono-wsp{
    position: fixed;
    top: 80%;
    right: 2%;
    width: 3.7vw;
    height: 7.5vh;
}


/*  ***FOOTER***  */


footer{
    font-family: 'Poppins', sans-serif;
    background-color: #cf9393;
    margin-top: 150px;
    padding: 60px 0 30px 0;
    /* overflow: hidden; */
}

.contenedor-footer{
    display: flex;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #ff0000;
}

.contenido-footer{
    width: 26.6%;
    text-align: center;
}

.contenido-footer h2{
    color: #000;
    border-bottom: 3px solid #ff0000;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contenido-footer p{
    font-size: large;
    margin-top: 50px;
    color: #000;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #000;
}

.icono-ig{
    width: 70px;
    height: 70px;
    margin-top: 20px;
}

.p-footer{
    margin-top: 65px;
}