@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #dad2a5;
    text-align: justify;
}

header{
    text-decoration: underline;
}

main{
    font-family: 'Poppins', sans-serif;
}

h3{
    color: red;
}

p{
    font-size: large;
}

img{
    height: 300px;
    width: 600px;
}